#cowboys-jumbo{
    text-align: center;
    background-color: navy;
    color: silver;
}
.col-md-10{
    text-align: center;
}
#optionsRadios2{
    float: left;
    margin: 5px;
    font-size: 18px;
}
body{
    background-image: url ('https://stmed.net/sites/default/files/dallas-cowboys-wallpapers-31003-1576803.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}